@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

* {
    font-family: "Sora", sans-serif;
    font-display: swap;
}
html {
    overflow-x: hidden;
    scroll-behavior: smooth
}